extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/libs/fingerprintjs2/dist/fingerprint2.min.js")
  script(src="/javascripts/client.js")
  div(class='game')
    img(class='player' src='/images/player.png')
